@use '$lib/app.scss' as globals;

.upload {
	input[type='file'] {
		width: 350px;
		max-width: 100%;
		color: globals.$font-color;
		padding: 5px;
		background-color: globals.$header-bg-color;
		border-radius: 16px;
		border: 1px solid #555;

		&::file-selector-button {
			margin-right: 20px;
			border: solid 2px;
			background-color: transparent;
			padding: 16px 32px;
			border-radius: 12px;
			color: globals.$font-color;
			cursor: pointer;
			border-color: globals.$button-color;
			transition: all 0.2s ease 0s;

			&:hover {
				border-color: globals.$button-hover-color;
				background-color: globals.$button-hover-color;
			}
		}
	}

	.dropcontainer {
		position: relative;
		display: inline-flex;
		gap: 10px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 200px;
		padding: 30px;
		border-radius: 16px;
		border: 2px dashed #555;
		color: globals.$font-color;
		cursor: pointer;
		transition:
			background-color 0.1s ease-in-out,
			border 0.1s ease-in-out;
	}

	.dropcontainer:hover {
		background-color: globals.$header-bg-color;
		border-color: globals.$button-hover-color;
	}

	.dropcontainer:hover .droptitle {
		color: globals.$font-color;
	}

	.droptitle {
		color: globals.$link-unfocused-color;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		transition: color 0.2s ease-in-out;
	}
}

.uploadbutton {
	color: globals.$font-color;
	font-size: large;
	padding: 12px 28px;
	background-color: globals.$button-color;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.2s ease 0s;

	&:hover {
		background-color: globals.$button-hover-color;
	}
}

.information {
	ul {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        gap: 10px;
	}
	h1 {
		margin-top: 4rem;
		margin-bottom: 0;
	}
}
