# .dockerignore
node_modules
data
build
.svelte-kit
.git
.gitignore
.gitattributes
*.md
.env
.env.*
**/.env
.vscode
.idea
coverage
tests
__tests__
e2e
playwright-report
docker-compose*.yml
Dockerfile*
.dockerignore
.eslintrc*
.prettierrc*
vite.config.ts.timestamp*
README.md
.npmrc
.graphqlrc
.editorconfig
package