@use '$lib/app.scss' as globals;

.solocover {
	width: 20rem;
	display: block;
	margin: auto;
	transition: width 0.4s ease 0s;

	&:hover {
		width: 26rem;
	}
}

.links {
	margin: 2rem 0 1rem;
	display: flexbox;
}

.back {
	color: globals.$font-color;
	font-size: large;
	padding: 12px 28px;
	background-color: globals.$button-color;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.2s ease 0s;

	&:hover {
		background-color: globals.$button-hover-color;
	}
}

.title {
	h2 {
		margin-top: -2rem;
		margin-bottom: 2rem;
		font-family: 'LINE Seed JP', sans-serif;
		font-weight: 400;
		font-style: normal;
	}
}

.volumes {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 2rem;
	padding: 8px 24rem;

	a {
		color: globals.$font-color;
		font-size: large;
		padding: 12px 28px;
		background-color: transparent;
		border: solid 1px;
		border-radius: 50px;
		cursor: pointer;
		border-color: globals.$button-color;
		transition: all 0.2s ease 0s;

		&:hover {
			border-color: globals.$button-hover-color;
			background-color: globals.$button-hover-color;
		}
	}

	br {
		margin-bottom: 1rem;
	}
}

.description {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 40%;
}

@media only screen and (max-width: 1500px) {
	.volumes {
		gap: 1rem;
		padding: 8px 8rem;
	}

	.description {
		max-width: 80%;
	}
}

@media only screen and (max-width: 1100px) {
	.volumes {
		grid-template-columns: auto;
	}
}
