package components

import "github.com/Bittorn/Furiyomi/db"

var coverHandle = templ.NewOnceHandle()

templ MangaCover(manga db.Manga, class string) {
    <img onload={templ.JSFuncCall("getCover", templ.JSExpression("event"), manga.Cover)} src="/static/loading-manga.svg" class={class} />
    @coverHandle.Once() {
        <script defer>
        async function getImage(imagePath) {
            const response = await fetch(`/api/image/${encodeURIComponent(imagePath)}`, {});

            return await response.json();
        }

        async function getCover(event, cover) {
            let image = event.target
            
            if (image.src.includes("loading-manga.svg")) {
                image.src = await getImage(cover)
            };
        }
        </script>
    }
}