@use '$lib/app.scss' as globals;

.login {
	margin-bottom: 4rem;

	input {
		color: globals.$font-color;
		background-color: globals.$header-bg-color;
		width: 8rem;
		margin-left: 8px;
		padding: 6px;
		border-radius: 6px;
		border-style: solid;
		border-color: globals.$link-unfocused-color;
        transition: border-color 0.1s ease;

		&:hover {
			border-color: globals.$button-hover-color;
		}

		&:focus {
			outline: 0;
			border-color: globals.$button-color;
		}
	}
}

button {
	color: globals.$font-color;
	font-size: large;
	padding: 12px 28px;
	background-color: globals.$button-color;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.2s ease 0s;

	&:hover {
		background-color: globals.$button-hover-color;
	}
}
