@use '$lib/app.scss' as globals;

$search-color: #333;

.searchbar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem;
	margin-top: -1rem;

	.searchicon {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMSAyYzQuOTY4IDAgOSA0LjAzMiA5IDlzLTQuMDMyIDktOSA5cy05LTQuMDMyLTktOXM0LjAzMi05IDktOW0wIDE2YzMuODY3IDAgNy0zLjEzMyA3LTdzLTMuMTMzLTctNy03cy03IDMuMTMzLTcgN3MzLjEzMyA3IDcgN204LjQ4NS4wNzFsMi44MjkgMi44MjhsLTEuNDE1IDEuNDE1bC0yLjgyOC0yLjgyOXoiLz48L3N2Zz4=');
		filter: invert(96%) sepia(20%) saturate(43%) hue-rotate(228deg) brightness(65%) contrast(80%);
		background-size: cover;
		width: 24px;
		height: 24px;
		transition: filter 0.1s ease;

		&:hover {
			filter: invert(96%) sepia(20%) saturate(43%) hue-rotate(228deg) brightness(95%) contrast(80%);
		}
	}

	input {
		color: globals.$font-color;
		background-color: globals.$header-bg-color;
		width: 8rem;
		margin-left: 8px;
		padding: 6px;
		border-radius: 6px;
		border-style: solid;
		border-color: globals.$link-unfocused-color;
		transition: border-color 0.1s ease;

		&:hover {
			border-color: globals.$button-hover-color;
		}

		&:focus {
			outline: 0;
			border-color: globals.$button-color;
		}
	}
}

.mangalist {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 1rem;
	padding: 8px;
}

@media only screen and (max-width: 2000px) {
	.mangalist {
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (max-width: 1500px) {
	.mangalist {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 1100px) {
	.mangalist {
		grid-template-columns: auto;
	}
}
