package pages

import "github.com/Bittorn/Furiyomi/db"
import "github.com/Bittorn/Furiyomi/components"

templ mangaDetail_css() {
    <style>
    .detailtitle h2 {
        margin-top: -2rem;
		margin-bottom: 2rem;
		font-family: 'LINE Seed JP', sans-serif;
		font-weight: 400;
		font-style: normal;
    }

    .detailsolocover {
        width: 20rem;
        display: block;
        margin: auto;
    }

    .detaillinks {
        margin: 2rem 0 1rem;
        display: flexbox;
    }

    .detaillink {
        color: var(--font-color);
        font-size: large;
        padding: 12px 28px;
        background-color: var(--button-color);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.1s ease 0s;
    }

    .detaillink:hover {
		background-color: var(--button-hover-color);
	}

    .detailvolumes {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3rem;
        padding: 8px 18rem;
    }

    .detailvolumes a {
        color: var(--font-color);
		font-size: large;
		padding: 12px 28px;
		background-color: transparent;
		border: solid 2px;
		border-radius: 50px;
		cursor: pointer;
		border-color: var(--button-color);
		transition: all 0.1s ease 0s;
    }

    .detailvolumes a:hover {
        border-color: var(--button-hover-color);
        background-color: var(--button-hover-color);
    }

    .detailvolumes br {
        margin-bottom: 1rem;
    }

    .detaildescription {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-width: 40%;
    }

    @media only screen and (max-width: 1500px) {
        .detailvolumes {
            gap: 1rem;
            padding: 8px 8rem;
        }

        .detaildescription {
            max-width: 80%;
        }
    }

    @media only screen and (max-width: 1100px) {
        .detailvolumes {
            grid-template-columns: auto;
        }
    }
    </style>
}

templ MangaDetail(dark bool, manga db.Manga) {
    @Base(manga.Romaji, dark) {
        @mangaDetail_css()
        <div class="detailtitle">
            <h1>{manga.Romaji}</h1>
            <h2>{manga.Native}</h2>
        </div>

        <div>
            <a onclick="history.back()" class="detaillink">Back</a><br /><br />

            @components.MangaCover(manga, "detailsolocover")

            <div class="detaillinks">
                <a href={manga.Link} rel="external" target="_blank" class="detaillink">View on AniList</a>
            </div>

            // <div class={styles.actions}>
            //     <button
            //         onclick={async () => {
            //             try {
            //                 await refreshMetadata(manga);
            //                 location.reload();
            //             } catch (error) {
            //                 alert(`Something went wrong: ${error}`);
            //             }
            //         }}>Refresh Metadata</button
            //     >
            // </div>

            <div class="detaildescription">
                <p>
                    {manga.Description}
                </p>
            </div>

            <br />

            <div class="detailvolumes">
                for _, volume := range manga.Volumes {
                    <a>{volume.Title}</a> // replace with @MangaVolumeLink(manga, volume)
                }
                if len(manga.Volumes) == 0 {
                    <p>No volumes found</p>
                }
            </div>
        </div>
    }
}