package pages

templ NotFound(dark bool) {
    @Base("404", dark) {
        <h1>Page not found</h1>
        <img src="/static/notfound.png" style="height: 350px"/>
        <p>It's likely this page is not implemented yet</p>
    }
}