package pages

import "github.com/Bittorn/Furiyomi/db"
import "github.com/Bittorn/Furiyomi/components"

templ titles_css() {
	<style>
    .searchbar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem;
        margin-top: -1rem;
    }

    .searchbar input {
		color: var(--font-color);
		background-color: var(--header-bg-color);
		width: 8rem;
		padding: 6px;
		border-radius: 6px;
		border-style: solid;
		border-color: var(--link-unfocused-color);
		transition: border-color 0.1s ease;
    }
    .searchbar input:hover {
        border-color: var(--button-hover-color);
    }

    .searchbar input:focus {
        outline: 0;
        border-color: var(--button-color);
    }

    #manga-list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
        padding: 8px;
    }

    @media only screen and (max-width: 2000px) {
        #manga-list {
            grid-template-columns: auto auto auto;
        }
    }

    @media only screen and (max-width: 1500px) {
        #manga-list {
            grid-template-columns: auto auto;
        }
    }

    @media only screen and (max-width: 1100px) {
        #manga-list {
            grid-template-columns: auto;
        }
    }
    </style>
}

templ Titles(dark bool, mangaList []db.Manga) {
	@Base("Titles", dark) {
        @titles_css()
		<h1>Titles</h1>
		<div class="searchbar">
			<input
                type="search"
                name="search"
                hx-get="/api/search"
                hx-trigger="keyup changed delay:1s"
                hx-target="#manga-list"
                id="searchBar"
                placeholder="Search manga..."
            />
		</div>

        @components.MangaList(mangaList)
	}
}